<link rel="stylesheet" href="/css/style.css">
<!-- the link to creating issue and going to project page -->
<div id="project">
  <h3 class="mt-3 mb-5 pb-5">CREATE ISSUE PAGE</h3>
  <a href='/project-page?id=<%= id %>' id="link">Go To Project Page</a>
</div>

<!-- displaying the form of issue page -->
<div id="form">
<form class="contact-form col-md-11 col-lg-9 mx-auto" method="post" action="/create-issue">
  <div class="form-row">
      <div class="col form-group">
          <input type="text" class="form-control" name="title" placeholder="Name of the issue">
      </div>
      <div class="col form-group">
          <input type="text" class="form-control"  name="author" placeholder="Author">
      </div>
      <div class="col form-group">
      <select name="label" id="label" class="form-control">
        <option value="red">red</option>
        <option value="green">green</option>
        <option value="blue">blue</option>
      </select>
      </div>
  </div>
  <div class="form-group">
      <textarea  id="" cols="30" rows="5" class="form-control" name="description" placeholder="Description"></textarea>
  </div>
  <input type="hidden" name="projectid" value="<%= id %>">
  <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block" value="Submit">
  </div>
</form>
</div>